header {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.logo {
    width: 20vw;
    max-width: 100%;
    margin: auto 0;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
}

.navigation>ul>li {
    padding: 1vw;
}

.navigation>ul {
    margin: 0;
}
